table{
    background: rgb(213, 230, 238);
    padding: 20px;
    box-shadow:0 1px 2px rgba(243, 215, 215, 0.13);
}

h2{
    background: rgb(199, 60, 192);
    padding: 10px;
    color: #fff;
    width: 400px;
       margin-bottom: 0px;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
}
h3{
  
        background: rgb(218, 92, 43);
        padding: 10px;
        color: #fff;
       width: 400px;
       margin-bottom: 0px;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
    
}

label{
    background: rgb(197, 221, 233);
    padding: 10px;
}

.card{
    background-color:cornsilk;
    width: 600px;
    margin-left: auto;
       margin-right: auto;
       border-radius: 45px;
}

.table{
    border-radius: 10px;
    background-color: rgb(30, 103, 212);
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}