<body style='margin:20px;' style="color: rgb(11, 41, 41);">
    <link href="http://java2s.com/style/bootstrap.min.css" rel="stylesheet">

    <h1>Columbia Asia Hospital Whitefield is part of the Columbia Asia healthcare group, which operates 28 other premium medical facilities across Asia. 
      This 153 bed multi-disciplinary hospital specializes in a wide variety of areas, including dermatology, obstetrics, neurosurgery, and urology. 
      The hospital has a committed patient coordination team to help international patients with everything from medical record translation, local 
      activity booking, and visa assistance. Patients have access to laundry services, televisions in their rooms, private rooms, and phones for 
      international calling.

    </h1>
</body>

